extends layout

block content

	#choices.container
		#plan-wrapper
			h1#choices-header Tell us what you want!!
			h2#choices-sub-header Shipping is free and you can skip any week.
			form(name="choices-form", action="/choices", method="post")
				#choices-frequency.choices-block
					.row
						.choices-image.col-sm-6
							image(src='/images/calendar.png')
						.col-sm-6
							h2.choices-label 1. Frequency
							.choices-lower-text-wrapper
								.choices-lower-text How often would you like us to send you your coffee
								select(id="frequency", name="frequency", class="form-control")
									option(value="weekly", selected=(frequency == 'weekly')? true: false) Weekly
									option(value="biweekly", selected=(frequency == 'biweekly')? true: false) Every Two Weeks
									option(value="monthly", selected=(frequency == 'monthly')? true: false) Monthly
									option(value="quarterly", selected=(frequency == 'quarterly')? true: false) Quarterly
									option(value="semiannually", selected=(frequency == 'semiannually')? true: false) Semi-Annually									
									option(value="annually", selected=(frequency == 'annually')? true: false) Annually
								.choices-help-text You can cancel anytime. You can skip anytime.

				#choices-quantity.choices-block
					.row
						.choices-image.col-sm-6
							image(src='/images/food-scale.png')
						.col-sm-6
							h2.choices-label 2. Quantity
							.choices-lower-text-wrapper
								.choices-lower-text How many pounds (in increments of .25 lbs) would you like each delivery?
									input.form-control(type="number", name="pounds", min="0",step="0.25", placeholder="20", value=(pounds ? pounds : ''))
									.choices-help-text You can cancel anytime. You can skip anytime.

				#choices-grind.choices-block
					.row
						.choices-image.col-sm-6
							image(src='/images/beans.png')
						.choices-text.col-sm-6
							h2.choices-label 3. Grind Type
							.choices-lower-text-wrapper
								.choices-lower-text How do you like your grinds?
								select#grind.form-control(name="grind")
										option(value="extraCourse", selected=(grind == 'extraCourse')? true: false) Extra Course
										option(value="course", selected=(grind == 'course')? true: false) Course
										option(value="medCourse", selected=(grind == 'medCourse')? true: false) Medium Course
										option(value="fine", selected=(grind == 'fine')? true: false) Fine
										option(value="veryFine", selected=(grind == 'veryFine')? true: false) Very Fine
									.choices-help-text You can cancel anytime. You can skip anytime.
					#submit-btn-wrap
						input.submit-btn.btn.btn-primary.btn-lg(type="submit", name="submit")
