extends layout

block content
	.container
		#plan-wrapper
		if (user)
			p You already logged in as #{user.username}.
			a(href="/logout") Click here to Logout
		if(!user)
			h1 Login Page
			if (failed)
				p.lead #{failed}
			if (!failed)
				p.lead Please enter your username and password to login.      
			br
			form#login-form(role='form', action='/login', method='post', style='max-width: 300px;')
				.form-group
					input.form-control(type='text', name='username', placeholder='Enter Your Username')
				.form-group
					input.form-control(type='password', name='password', placeholder='Enter Your Password')
				button.btn.btn-primary(type='submit') Submit
				a(href='/')
					button.btn.btn-primary(type="button") Cancel