extends layout

block content
	.container
		h1 Login Page
			p.lead Please enter your username and password below.
			br
			form#login-form(role='form', action='/login', method='post')
				.form-group
					input.form-control(type='text', name='username', placeholder='Enter Your Username')
				.form-group
					input.form-control(type='password', name='password', placeholder='Enter Your Password')
				button.btn.btn-primary(type='submit') Submit
				a(href='/')
					button.btn.btn-primary(type="button") Cancel