/* line 6, ../../compass/sass/views/_home.scss */
h2.how-it-works_label {
  text-align: center;
  font-weight: 700;
  font-size: 48px;
  letter-spacing: 2px;
  color: #294741;
  margin-bottom: 30px;
  text-transform: uppercase;
}

/* line 16, ../../compass/sass/views/_home.scss */
.how-it-works {
  background: #fff;
  position: relative;
  border-top: 1px solid #d8d3c8;
  margin-bottom: 90px;
}
/* line 22, ../../compass/sass/views/_home.scss */
.how-it-works:after {
  content: '';
  display: block;
  border-top: 45px solid #edebe6;
  border-left: 30px solid transparent;
  border-right: 30px solid transparent;
  height: 0;
  width: 0;
  position: absolute;
  top: -1px;
  left: 50%;
  margin-left: -30px;
}
/* line 36, ../../compass/sass/views/_home.scss */
.how-it-works:before {
  content: '';
  display: block;
  border-top: 45px solid #d8d3c8;
  border-left: 30px solid transparent;
  border-right: 30px solid transparent;
  height: 0;
  width: 0;
  position: absolute;
  top: 0px;
  left: 50%;
  margin-left: -30px;
}

/* line 52, ../../compass/sass/views/_home.scss */
.how-it-works_inner {
  position: relative;
  padding: 90px 60px 60px;
}
/* line 56, ../../compass/sass/views/_home.scss */
.how-it-works_inner .works-text {
  width: 50%;
  float: left;
}
/* line 61, ../../compass/sass/views/_home.scss */
.how-it-works_inner h3 {
  font-weight: 700;
  font-size: 48px;
  margin-bottom: 30px;
}
/* line 67, ../../compass/sass/views/_home.scss */
.how-it-works_inner p {
  font-size: 18px;
  margin-left: 60px;
}
/* line 72, ../../compass/sass/views/_home.scss */
.how-it-works_inner .works-image {
  float: left;
  border: 15px solid #fff;
  width: 45%;
  box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.7);
  -moz-transform: rotate(-5deg);
  -ms-transform: rotate(-5deg);
  -webkit-transform: rotate(-5deg);
  transform: rotate(-5deg);
}
/* line 79, ../../compass/sass/views/_home.scss */
.how-it-works_inner .works-image img {
  display: block;
  max-width: 100%;
  border: 1px solid #a08855;
}

/* line 87, ../../compass/sass/views/_home.scss */
.how-it-works-one {
  background: url('../images/CoffeeBags.jpg?1441679937') center bottom no-repeat;
  background-size: cover;
  position: relative;
  color: #fff;
  text-shadow: 3px 3px 10px rgba(0, 0, 0, 0.4);
}
/* line 94, ../../compass/sass/views/_home.scss */
.how-it-works-one:before {
  content: '';
  display: block;
  height: 46px;
  width: 62px;
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -31px;
  z-index: 1;
  background: url('../images/CoffeeBags_corner.png?1441679937') center top no-repeat;
}

/* line 108, ../../compass/sass/views/_home.scss */
.how-it-works-two {
  background: url('../images/canvas.jpg?1441679937') center bottom repeat;
  position: relative;
}
/* line 112, ../../compass/sass/views/_home.scss */
.how-it-works-two .works-text {
  float: right;
}
/* line 116, ../../compass/sass/views/_home.scss */
.how-it-works-two:before {
  content: '';
  display: block;
  height: 46px;
  width: 62px;
  position: absolute;
  top: 100%;
  margin-top: -1px;
  left: 50%;
  margin-left: -31px;
  z-index: 1;
  background: url('../images/canvas_corner.png?1441679937') center top no-repeat;
}

/* line 131, ../../compass/sass/views/_home.scss */
.how-it-works-three {
  background: url('../images/cupSteam.jpg?1441679937') right bottom no-repeat #000;
  background-size: contain;
  position: relative;
  color: #fff;
  text-shadow: 3px 3px 10px rgba(0, 0, 0, 0.7);
}
/* line 138, ../../compass/sass/views/_home.scss */
.how-it-works-three:after {
  content: '';
  display: block;
  border-top: 45px solid #000;
  border-left: 30px solid transparent;
  border-right: 30px solid transparent;
  height: 0;
  width: 0;
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -30px;
  margin-top: -1px;
}
/* line 153, ../../compass/sass/views/_home.scss */
.how-it-works-three:before {
  content: '';
  display: block;
  border-top: 45px solid #d8d3c8;
  border-left: 30px solid transparent;
  border-right: 30px solid transparent;
  height: 0;
  width: 0;
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -30px;
}

/* line 170, ../../compass/sass/views/_home.scss */
.head-box {
  background-color: #fff;
  padding: 30px;
  margin: 30px auto 30px;
  max-width: 800px;
  border: 1px solid #d8d3c8;
  border-radius: 5px;
}
/* line 178, ../../compass/sass/views/_home.scss */
.head-box h2 {
  margin-top: 0;
  font-weight: 700;
  max-width: 80%;
}

/* line 186, ../../compass/sass/views/_home.scss */
.home-container {
  position: relative;
}

/* line 191, ../../compass/sass/views/_home.scss */
#getStarted {
  font-weight: 700;
  letter-spacing: 2px;
  font-size: 30px;
  text-align: center;
  padding: 20px 60px;
  background: #196D46;
  border-radius: 5px;
  color: #fff;
  margin: 0 20px;
  line-height: 1;
}
/* line 203, ../../compass/sass/views/_home.scss */
#getStarted:hover {
  color: #fff;
  background: #16613e;
  text-decoration: none;
}

/* line 211, ../../compass/sass/views/_home.scss */
#login-wrapper {
  background-color: rgba(200, 200, 200, 0.7);
}

@media (max-width: 600px) {
  /* line 217, ../../compass/sass/views/_home.scss */
  .how-it-works_inner {
    padding: 60px 20px;
  }
  /* line 220, ../../compass/sass/views/_home.scss */
  .how-it-works_inner .works-text {
    width: auto;
    float: none;
  }
  /* line 225, ../../compass/sass/views/_home.scss */
  .how-it-works_inner h3 {
    font-size: 36px;
    margin-bottom: 15px;
  }
  /* line 230, ../../compass/sass/views/_home.scss */
  .how-it-works_inner p {
    font-size: 14px;
    margin-left: 0;
  }
  /* line 234, ../../compass/sass/views/_home.scss */
  .how-it-works_inner .works-image {
    float: none;
    width: 85%;
    margin: 0 auto;
  }
}
